<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gitdemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0ADF3981D645B39006AD82A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0ADF3AB1D645B39006AD82A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0ADF3B61D645B39006AD82A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
